@use "variable";

.accordion-wrapper{
    margin: 0 4rem;

    p{
        color: variable.$Dark-grayish-blue;
    }

    h1{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .list-wrapper{
        transition: all 200ms ease-in-out;
        margin: 1rem 0;
        padding: 0 0 1.2rem;
        border-bottom: 1px solid variable.$Light-grayish-blue;
        width: 21rem;
        
        .subtitle{
            font-size: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items:center;
            
            p:hover{
                color: variable.$Soft-red;
            }

            span{
                @include variable.background(variable.$img-icon);
                background-size: contain;
                width: 10px;
                height: 10px;
                transition: all 150ms ease-in-out;
                margin-left: 1rem;
            }
        }
    }
}

.content{
    padding-top: .4rem;
    font-size: 12px;
    display: none;
}


.active-link{
    font-weight: 700;
}

.rotate{
    transform: rotate(180deg);
}

.active{
    display: block;
}
