$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);

$img-right: "../images/bg-pattern-intro-right-desktop.svg";
$img-left: "../images/bg-pattern-intro-left-desktop.svg";
$img-footer: "../images/bg-pattern-footer-desktop.svg";

$img-footer-m: "../images/bg-pattern-how-we-work-mobile.svg";
$img-right-m: "../images/bg-pattern-intro-right-mobile.svg";
$img-left-m: "../images/bg-pattern-intro-left-mobile.svg";
