/* color palette from <https://github.com/vuejs/theme> */
:root {
  --secondary: #111111;
  --secondary-soft: #403f3f;
  --secondary-mute: #585858c6;

  --primary: #f6f6f6;
  --primary-soft: rgba(237, 237, 237, 0.997);
  --primary-mute: rgb(228, 228, 228);

  --tertiery: #ffb81f;
  --tertiery-soft: #ffb81f55;
  
  --bg: #fff;
}

/* semantic color variables for this project */
:root.dark {
  --secondary: #ffffff;
  --secondary-soft: #cecece;
  --secondary-mute: #aaaaaa;
  
  --primary: rgb(34, 34, 34);
  --primary-soft: rgb(42, 42, 42);
  --primary-mute: rgb(52, 52, 52);
  --bg: #1c1c1c;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  color: var(--secondary);
  background-color: var(--primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
}
